<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
<import type="css" file="Home.css.style"/>
</head>

<body>
<table border="1px">
<volist name="data" id="vo">
<tr>
<td>{$vo[DB_MATCH_NAME]}</td>
<td>{$vo[DB_MATCH_STARTTIME]}</td>
</tr>
</volist>
</table>
<div><a href="{:U('Home/Series/ShowGoto',array('Id'=>1234567,'Name'=>'thinkphp'))}">跳转到哪里？</a></div>
</body>
</html>
