<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<script type="text/javascript" src="__PUBLIC__/Test/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/Test/js/test.js"></script>
</head>
<body>
   <div style="font-size:30px; color: #f00; text-align:center;">{$name}</div>
   <!--
   <div style="font-size:30px; color: #f00; text-align:center;">
     <input type="text" id="text" value="" /> <br />
     <input type="submit" id="submit" value="点击" />
   </div>
   <div style="font-size:30px; color: #f00; text-align:center;" id="inner"></div>
   <div style="font-size:30px; color: #f00; text-align:center;">
     <volist name="data" id="vo">
       {$vo[DB_NBATEAM_NAME]}---<img src="{$vo[DB_NBATEAM_LOGO]}" style="width: 30px; height: 30px;" /><br />
     </volist>
   </div>
   -->
</body>
</html>